*.cc    text diff=cpp
*.h     text diff=cpp

# Exclude from the language detection of the repository
spec/filter-options-spec.coffee linguist-vendored
spec/filter-spec.coffee linguist-vendored
spec/match-spec.coffee linguist-vendored
spec/score-spec.coffee linguist-vendored
VendorLib/
