# Node
node_modules/
package-lock.json

# Caches
.parcel-cache
.rollup.cache
.ropeproject
.mypy_cache
cmake-build-*
.scannerwork


# Built Files
build/
dist/
dist-test/
prebuilds/
out/
tsconfig.tsbuildinfo
staging

index.js
index.js.map
*.d.ts
