test/*.coffee
benchmark/result.md

node_modules/

build/
dist/
prebuilds/

.parcel-cache
.rollup.cache

node.js
node.d.ts
node.js.map
tsconfig.tsbuildinfo

.scannerwork
package-lock.json
pnpm-lock.yaml
cmake-build-*
.mypy_cache

