# Node
node_modules/
package-lock.json
pnpm-lock.yaml

# Caches
.parcel-cache
.rollup.cache
.ropeproject
.mypy_cache
cmake-build-*
.scannerwork


# Built Files
build/
dist/
dist-test/
prebuilds/
out/
tsconfig.tsbuildinfo

index.js
index.js.map
*.d.ts


# Extra files
test/*.coffee
benchmark/result.md
